<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.util.app">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="my.util.app.MyUtilApp"
        android:allowBackup="true"
        android:icon="@mipmap/util"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="my.util.app.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="my.util.app.activity.UtilSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AuthActivity"
            android:theme="@style/AppTheme.ActionBar.FullScreen" />

        <activity
            android:name=".activity.SignUpActivity"
            android:theme="@style/AppTheme.ActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden" />

        <!--
           API Key from the Google Play service, this is debug key will have limited
           access to the Google services; ex: 1000 hits a day
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>